*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

article{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

h1{
    font-size: 90pt;
    color: #0a2ff1;
    margin-left: 60px;
}

h2{
    font-size: 20pt;
    color: #0a2ff1;
}

p{
    font-size: 13pt;
    color: #04146c;
    margin: 20px;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#div1{
    width: 20%;
    padding: 1rem;
    background-color: #eff2ff;
    border-radius: 14px;
}

#div2{
    width: 20%;
    padding: 1rem;
    background-color: #eff2ff;
    border-radius: 14px;
}


#div3{
    width: 20%;
    padding: 1rem;
    background-color: #eff2ff;
    border-radius: 14px;
}


#div4{
    width: 20%;
    padding: 1rem;
    background-color: #eff2ff;
    border-radius: 14px;
}




#div1 img{
    width: 25%;
    margin: 10px;

}

#div2 img{
    width: 18%;
}

#div3 img{
    width: 25%;
}

#div4 img{
    width: 25%;
}