*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

article{
    display: flex;
    justify-content: center;
}

div{
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 60pt;
    color: #0a2ff1;
    margin: 20px;

}

h2{
    font-size: 30pt;
    color: #0a2ff1;
    font-weight: 300;
    margin: 20px;
}

h3{
    font-size: 20pt;
    color: #04146c;
    font-weight: 100;
    margin: 20px;
}

button{
    font-size: 22pt;
    background-color: #0a2ff1;
    color: white;
    border: 0px;
    margin: 10px;
    padding: 10px;
    width: 400px;
    height: 70px;

}